#tytul{
    text-align: center;
    margin-bottom: 1cm;
}

#pole1,#pole2{
    background-color: blue;
}
#submit,#reset{
    background-color: orange;
}
#submit{
    margin-right:1cm ;
}
#divlista1{
    font-weight: bold;
    border: 1px black solid;
    float: left;
}
#divlista2{
    clear: both;
}