
#tytul{
    text-align: center;
    margin-bottom: 1cm;
}

h1[class="imagestitle"] {

    text-align: center;
    margin-bottom: 1cm;
}

#pole1,#pole2{
    background-color: blue;
}
#submit,#reset{
    background-color: orange;
}
#submit{
    margin-right:1cm ;
}
#divlista1{
    font-weight: bold;
    border: 1px black solid;
    float: left;
}
#divlista2{
    clear: both;
}

.mw-images img {
    width: 400px;
    height: 250px;
    padding: 15px;
    background-color: black;
    margin-bottom: 1cm;
}

div[class="mw-menu"] {
    text-align: center;

}

h1[class="mw-title"] {
    text-align: center;
    color: green;

}

p[class="mw-text"] {
    width: 100%;
    font-style: italic;
    text-align: justify;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

div[class="mw-columns"] {
    display: flex;
}

@media (max-width: 768px) {
    .mw-columns {
        flex-direction: column;
    }
}

.mw-sources a:hover {
    background-color: blue;
}