h1[class="imagestitle"] {
    text-align: center;
    margin-bottom: 1cm;
}

.mw-images img {
    width: 400px;
    height: 250px;
    padding: 15px;
    background-color: black;
    margin-bottom: 1cm;

}